
<h3>Lista de Herois</h3>

<div *ngIf="deletedHero; else nothingWasDeleted">
  <h3>Heroi Eliminado <small class="text-danger">{{ deletedHero }}</small> </h3>
</div>

<ng-template #nothingWasDeleted>
  <h3>Nao ha nenhum eliminado</h3>
</ng-template>

<button
  *ngIf="heroNames.length > 0"
  (click)="removeLastHero()"
  class="btn btn-outline-danger">
  Eliminar ultimo heroi
</button>


<ul class="mt-2 list-group">
  <li *ngFor="let name of heroNames"
      class="list-group-item">
      {{ name }}
  </li>

</ul>
